.cgl-card {
  border: 1px solid black;
  float: left;
  height: 400px;
  margin: 0px 10px 10px 0px;
  padding: 10px;
  text-align: center;
  width: 300px;
}

.cgl-card-actions {
  clear: both;
  padding-top: 5px;
}

.cgl-card-name {
  font-size: 24px;
}
